/* .App {
    text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.bg{
  background-color: #abddfc;
}

.container{
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  
}

.text-box {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  padding: 20px 30px;
  background-color: rgba(113, 146, 228, 0.1);
  text-align: center;
  justify-content: center;
  letter-spacing: 0.9px;
  font-weight: 900;
  border-radius: 5px;
  font-family: default;
}

.text-box .line1 {
  font-size: 30px;
  text-transform: uppercase;
}
.text-box .line2 {
  font-size: 22px;
  opacity: 0.9;
  line-height: 30px;
  color: rgb(62, 62, 162);

}

.btn {
margin: 40px;
position: absolute;
  left: 48%;
  transform: translate(-50%, -50%);
/*  */
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
  

  
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.btn span{
  color: black;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: rgba(222, 227, 232, 0.08);*/
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 1;
  margin: 0 auto;
}

button {
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(181, 208, 242, 0.7);
  color: black;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 30px;
}
button:hover {
  background-color: rgb(70, 134, 45);
  transform: scale(1.1);
  font-size: 17px;
  color: #fff;

}
nav .free {
  margin-left: auto;
}
